name: CI

on:
  push:
    tags:
      - 'v*'
    branches:
    - '**'
    - '!dependabot/**'
  pull_request: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 10.x
          - 12.x
          - 13.x
          - 14.x
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-node@v2.1.5
      with:
        node-version: ${{ matrix.node_version }}
    - name: Install
      run: npm install
    - name: Test
      run: npm test

  publish-gcs:
    needs: test
    if: |
      github.event_name == 'push' && (
        github.ref == 'refs/heads/main' || (
          startsWith(github.ref, 'refs/heads/v') && endsWith(github.ref, 'x')
        )
      )
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-node@v2.1.5
      with:
        node-version: '10.x'
    - name: gcloud auth
      run: |
        gcloud config set disable_prompts True
        gcloud auth activate-service-account --key-file <(echo $GCLOUD_CLIENT_SECRET | base64 --decode)
      env:
        GCLOUD_CLIENT_SECRET: ${{ secrets.GCLOUD_CLIENT_SECRET }}
    - name: Build release
      run: npm pack
    - name: Publish artifacts
      run: .github/workflows/publish-gcs.sh

  publish-npm:
    needs: test
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-node@v2.1.5
      with:
        node-version: '10.x'
    - name: npm login
      run: |
        echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
    - name: Publish artifacts
      run: npm publish
